# MongoDB Configuration
MONGODB_URL=mongodb+srv://barentohashum11_db_user:H0sGJ7IBqgdNUPxK@cluster0.d1pjoef.mongodb.net/
DATABASE_NAME=movie_recommendation

# JWT Configuration
SECRET_KEY=your-secret-key-change-in-production-please-use-a-strong-secret

# Application
DEBUG=True

H0sGJ7IBqgdNUPxK